# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# ===========================
# Virtual Environment
# ===========================
venv/
.venv/
env/

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Jupyter Notebook Checkpoints
# ===========================
.ipynb_checkpoints/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# PyCharm
# ===========================
.idea/

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# Windows
# ===========================
Thumbs.db